.dialogQ {
    display: inline-block;
    background-color: #d8e2f5;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.5em;
    margin: 0 0.5em;
    width: auto;
    max-width: 80%;
}

.dialogA {
    display: inline-block;
    background-color: #d8e2f5;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.5em;
    margin: 0 0.5em;
    width: auto;
    max-width: 80%;
}

.chatBox {
    height: 'auto';
    min-height: 500px;
    padding: 16px 0;
    background: linear-gradient(#ebeff7, #fff);
}

.send-input {
    position: relative;
}

.send-btn {
    position: absolute;
    bottom: 0;
    right: -2em;
}